*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: deeppink;
    text-align:center;
    line-height: 1.7;
}

.hero{
    padding: 20px 10px
}

.hero img{
    border-radius: 50%;
    margin-bottom: 10px;
}

.section h2{
    font-size: 22px;
}

.hero h2{
    font-size: 30px;
}

.accent{
    color:rgb(93, 17, 93)
}

.grid{
    display: grid;
    gap: 15px;
}

.grid div{
    padding: 20px;
    border-radius: 40px;
    background-color: rgb(59, 107, 138);
}